header{
    display:block;
    margin-top: 5px;
    background-image: url(img/header.jpeg);
    background-size: cover;
    opacity: 1;
}

#showcase{
    min-height: 450px;
    color: white;
    text-align: center;
}

