*{
    margin: 0;
    padding: 0;
}

html{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

header{
    width: 100%;
    background: rgb(216, 202, 3);
    text-align: center;
    padding: 20px;
    margin-top: 5px;
}

header h1{
    margin-bottom: 10px;
}

.branco{
    color: white;
}

.nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

a:hover{
    background: white;
    padding: 10px;
    color: rgb(216, 202, 3);
    border-radius: 4px;
}

.container{
    width: 100%;
    background: black;
    
}

.postagem-principal{
    background: turquoise;
    width: 60%;
    float: left;
}

.postagem-principal img{
    width: 400px;
    height: auto;
}

.postagem-principal h2{
    color: rgb(216, 202, 3);
    margin-bottom: 0;
}

.postagem-principal p{
    margin-bottom: 15px;
    font-size: 15px;
}

.clear{
    clear: both;
}

.postagem{
    background: yellowgreen;
    width: 40%;
    float: right;
}

.postagem h3{
    background: rgb(194, 193, 193);
}

