*{
    margin: 0;
    padding: 0;
}

html{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

/*HEADER*/
header{
    width: auto;
    background: rgb(216, 202, 3);
    text-align: center;
    padding: 20px;
    margin-top: 5px;
}

header h1{
    margin-bottom: 10px;
}

.branco{
    color: white;
}

a{
    text-decoration: none;
}

.nav a{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
}

.nav a:hover{
    background: white;
    padding: 10px;
    color: rgb(216, 202, 3);
    border-radius: 4px;
}

/*SECTION*/
.container{
    width: 100%;
    margin-top: 10px;
}

.postagem{
    width: 40%;
    float: left;
    padding: 0 150px;
}

.postagem img{
    width:620px;
    height: auto;
}

.postagem h2{
    color: rgb(216, 202, 3);
    margin-bottom: 0;
}

.postagem span{ 
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
}

.postagem p{
    text-align: justify;
    word-spacing: 0.5px;
}

.postagem a{
    color: rgb(216, 202, 3);
    font-size: 15px;
}

.postagem-lateral{
    width: 20%;
    float: right;
    padding: 0 100px;
    font-size: 15px;
}

.postagem-lateral h3{
    background: rgb(194, 193, 193);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}

.post1{
    padding: 5px;
    margin-bottom: 40px;
}


.post1 hr{
    margin:10px 0 ;
}

.postagem-lateral a{
    color: rgb(216, 202, 3);
}

.post2 ul li{
    list-style: none;
}

/*FOOTER*/
footer{
    clear: both;
    text-align: center;
    padding: 15px;
}